<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:include="template :: scripts_header"></th:block>

    <title>Pizzeria - Pizza IngredientsForm</title>
</head>

<body>
<th:block th:include="template :: navigator"></th:block>


<div class="register form" align="center">

    <h2> Pizza IngredientsForm</h2>


    <form th:href="@{'/admin/ingredients/' + ${formObject.pizzaId}}" method="post" th:object="${formObject}">
        <input type="hidden" th:field="*{pizzaId}" th:value="*{pizzaId}">

        <div class="form-group" th:each="ingredient, index : *{ingredients}">
            <label for="ingredient" th:text="${ingredient.name}">:</label>
            <input type="hidden" th:field="${formObject.ingredients[__${index.index}__].name}"
                   th:value="${formObject.ingredients[__${index.index}__].name}">
            <input type="checkbox" id="ingredient" class="form-control" name="ingredient"
                   th:field="${formObject.ingredients[__${index.index}__].added}">

        </div>


        <button type="submit" class="btn btn-primary btn-block">Save</button>
    </form> <!-- /form -->
</div>
<th:block th:include="template :: scripts_footer"></th:block>
</body>


</html>