<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:include="template :: scripts_header"></th:block>

    <title>Pizzeria</title>
</head>

<body>
<th:block th:include="template :: navigator"></th:block>
<div class="welcome">
    <h2>Admin Panel Pizzeria- User List!</h2>
    <div class="container">
        <div class="row header">
            <div class="col-4">Id</div>
            <div class="col-4">User</div>
        </div>
        <div class="row table-row" th:each="user,i :${user_list}">
            <div class="col-4" th:text="${user.id}"></div>
            <div class="col-4" th:text="${user.username}"></div>
            <div class="offset-1 col-3">
                <div class="col-4"><a th:href="@{'/admin/removeAppUser/' + ${user.id}}">Remove</a></div>
            </div>
        </div>
    </div>

</div>
<th:block th:include="template :: scripts_footer"></th:block>
</body>


</html>