<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">

<th:block th:fragment="scripts_header">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</th:block>

<th:block th:fragment="scripts_footer">
    <script th:href="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script th:href="@{/webjars/popper.js/1.14.7/popper.min.js}"></script>
    <script th:href="@{/webjars/bootstrap/4.3.1/js/bootstrap.js}"></script>
</th:block>


<th:block th:fragment="navigator">
    <nav class="site-header sticky-top py-1">
        <div class="container d-flex flex-column flex-md-row justify-content-between">
            <a class="py-2 d-none d-md-inline-block" th:href="@{/}">Home</a>
            <a class="py-2 d-none d-md-inline-block" th:href="@{/pizza}">Pizza</a>
            <a class="py-2 d-none d-md-inline-block" th:href="@{/user/profile}">Profile</a>
            <a class="py-2 d-none d-md-inline-block" th:href="@{/login}">Login</a>
            <a class="py-2 d-none d-md-inline-block" th:href="@{/register}">Register</a>
            <a class="py-2 d-none d-md-inline-block" th:href="@{/logout}">Logout</a>
        </div>
    </nav>
</th:block>

</html>